
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/api/public/bundles/
###< symfony/asset-mapper ###

docker-compose.override.yml
docker.env

# Frontend app dependencies
frontend/admin/node_modules/
frontend/admin/dist/
frontend/webshop/node_modules/
frontend/webshop/dist/

